name: COBOL Check Automation
on:
  push:
      branches: [ main ]
      
jobs:
  cobol-check:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js (for Zowe CLI)
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'
    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Installer Zowe CLI
      run: |
        npm install -g @zowe/cli
        zowe --version
    - name: Setup Mainframe Environment and Upload COBOL Check  
      timeout-minutes: 15
      env:
        ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
        ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
      run: |
        chmod +x .github/scripts/zowe_operations.sh
        .github/scripts/zowe_operations.sh 
        
